body{
	background-image: ;
}

header{
	background-color: black;
}

div a{
	color: black; 
	background-color: orange;
	text-decoration: none;
	margin-left: 250px;
}

div a:hover{
	color: black;
	background-color: orange;
	text-decoration: none;
	transition: 2s;
}

h1{
	text-align: center;
}