body{
	background-color: grey;
}

header{
	background-color: black;
}

div a{
	color: black; 
	background-color: orange;
	text-decoration: none;
	margin-left: 250px;
}

div a:hover{
	color: black;
	background-color: orange;
	text-decoration: none;
	transition: 2s;
}
h2{
	color: white;
}

h3{
	color: white;
}
h4{
	color: white;
}
h1{
	text-align: center;
	color: white;
}

p{
	color: white;
}

iframe{
	position: center;
}